*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(28, 16, 78);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
#navbar nav ul{
    display: flex;
    gap: 75px;
    list-style: none;
}
#navbar nav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: rgb(250, 246, 246);
}
#navbar button{
    background-color: rgb(116, 60, 60);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

#Home {
    width: 100%;
    height: 100vh;
    background-image: url(vecteezy_backpacker-hiking-mountain-peak-enjoys-extreme-terrain_24715259.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}


